root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,json,jsonc,yaml,yml,md,css,scss,html}]
indent_style = space
indent_size = 2

[*.{rs,toml}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
